body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

.content {

}

input {
    border: 2px solid #5f9341;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    border: 2px solid #5f9341;
    margin: 5px 0;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}

#input-btn, #tab-btn {
    background-color: #5f9341;
    color: #ffffff;
}

#delete-btn {
    background-color: #ffffff;
    color: #5f9341;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: 10px;
}

a {
    color: #5f9341;
}